<html>
    <head>
        <title>
            Animated slider
        </title>
        <link rel="stylesheet" href="/stylesheets/animation.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="banner-1">
            <img src="/images/k1.jpg">
            <div class="text text-1">
                <h1>
                    KAMILA DAVIES
                </h1>
                <span></span>
                <p>Russian social media personality <br>who has attracted more than 2.2 million followers to her Instagram account. Her photos generate a lot of engagement on her Facebook account as well.</P>
            </div>



        </div>


        <div class="banner-2">
            <img src="/images/k7.jpg">
            <div class="text text-2">
                <h1>
                    KAMILA DAVIES
                </h1>
                <span></span>
                <p>Russian social media personality <br>who has attracted more than 2.2 million followers to her Instagram account. Her photos generate a lot of engagement on her Facebook account as well.</P>
            </div>



        </div>



        <div class="banner-3">
            <img src="/images/k8.jpg">
            <div class="text text-3">
                <h1>
                    KAMILA DAVIES
                </h1>
                <span></span>
                <p>Russian social media personality <br>who has attracted more than 2.2 million followers to her Instagram account. Her photos generate a lot of engagement on her Facebook account as well.</P>
            </div>



        </div>



        <div class="banner-4">
            <img src="/images/k9.jpg">
            <div class="text text-4">
                <h1>
                    KAMILA DAVIES
                </h1>
                <span></span>
                <p>Russian social media personality <br>who has attracted more than 2.2 million followers to her Instagram account. Her photos generate a lot of engagement on her Facebook account as well.</P>
            </div>



        </div>



        



        </div>

    </body>
</html>