*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    overflow-x: hidden;
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  

}
.heading{
    width: 50%;
    padding-bottom: 50px;
}
.heading h3{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #222
}
.heading h3 span{
  font-family: nunito;
    font-weight:100;
    
}

.box{
    display:flex;
    flex-direction: row;
    justify-self:space-between;
    
  
    
}
.dream{ 
    display: flex;
    flex-direction: column;
    width: 32.5%;
    
    justify-items:center;
    
    
}
.dream img{
   
    width: 100%;
    
    padding-left: 4px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.btn{
    margin: 40px 0 70px 0;
    background-color: rgb(222, 217, 217);
    padding: 15px 40px;
    border-radius: 5px;
    
    
}
.btn a{
    color: rgb(0, 3, 6);
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    font-family: poppins;
letter-spacing: 2px;
}

@media only screen and (max-width:990px){
    .box{
        flex-direction: column;
    }
    .dream{
        width: 100%;

    }
    
}
