<html>
    <head><title>Imaging</title>
        <LINK rel="stylesheet" href="/stylesheets/side.css"></head>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
            <meta charset="UTF-8">
            
            <body onload="slider()">
                <div class="banner">
                    <div class="slide">
                        <img src="/images/e9.jpg">
                    </div>
                   

                    <div class="overlay">
                        <div class="navbar">
                            <div class="logo">
                                <img src="/images/logo.png">
                            </div>

                            <div class="menu">
                                <img  src="/images/facebook.png">
                                <img src="/images/linkedin.png">
                                <img src="/images/instagram.png">
                                <img src="/images/youtube.png">
                            
                            </div>
                        </div>

                        <div class="content">
                            <h1>Genevieve Morton</h1>
                            <h3>Kamila is a neuroscientist, autism researcher and co-founder and CEO of Frontiers, a leading open- access academic publisher and social network for researchers.</h3>

                            <div class="btn">Watch More</div>
                        </div>

                    </div>

                 


                    


                    
                </div>

              



                       
            </body>

            <script>
                var slideImg = document.getElementById('slideImg');

                var images=new Array[
                    'images/k8.jpg',
                    'images/k9.jpg',
                    'images/k10.jpg',
                    'images/k3.jpg',
                    'images/k1.jpg'
                ]

                var len=images.length;
                var i=0;

                function slider(){
                    if(i>len-1){i=0;}
                    slideImg.src=images[i];
                        i++;
                        setTimeout('slider()',3000);
                }

    
            </script>

</html>