*{
    padding: 0;
    margin:0;
    
   

}
.banner{
   
    overflow: hidden;
   
   background-position: center;
    background-size: cover;
   



}.slide img{
    
    width: 110%;
    height: auto;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation:zoom-in 3s linear infinite;
}


@keyframes zoom-in{
    100%{
        width: 100%;
    }
}
.slider{
    height:100vh ;
    width: 100%;
    position:absolute;
    left: 0;
    top:0;
    
}



.overlay{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(141, 45, 45, 0),rgba(0, 0, 0, 0.753));
    position:absolute;
    top: 0;
}
.navbar{
    width: 85%;
    display: flex;
    align-items: center;
    margin: 35px auto;
    
}
.logo{
   padding: 15px;
    flex-basis: 15%;
    align-items: center;
  }
  .logo img{
      width: 120px;
      cursor: pointer;
  }
  .menu{
      flex: 1;
    align-items: center;
    text-align: right;

  }
  .menu img{
      width: 30px;
      margin-left: 40px;
      cursor: pointer;  }

.content{
    width:60%;
    margin: 160px auto 0;
    text-align: center;
    color: azure;
    font-family: poppins;
    animation:textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.content h1{
    font-size: 80px;
}

.content h3{
    font-size: 20px;
}
.btn{
    width: 200px;
   
    padding: 15px 0;
    text-align: center;
 
   background: #ffebe75d;
    background-position: center;
    margin:0 450px;
    border-radius: 25px;
    font-weight: bolder;
    letter-spacing: none;
    border: 2px solid #170f0d;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background 0.5s;
    font-family: nunito;
    font-size: 18px;
}

.btn:hover{
    background: transparent;
    border: 2px solid #fff;
}


